.authentication-layout__container {
	width: 100%;
	max-width: 320px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.authentication-layout__logo {
	width: fit-content;
	height: 48px;
	margin-top: 48px;
	margin-bottom: 16px;
	fill: @text-color;
}

.authentication-layout {
	height: 100%;
	background-color: @authentication-background;

	.authentication-layout__content {
		width: 100%;
		background-color: @authentication-background-content;

		.ant-input-prefix {
			margin-right: 8px;
		}
	}

	.authentication-layout__footer {
		margin-top: 8px;
		display: flex;
		justify-content: space-between;
		width: 100%;

		.ant-select-selector {
			width: 96px;
			padding: 0;
		}
	}
}
