.main-layout {
	height: 100%;

	.main-layout__logo {
		height: 32px;
		width: min-content;
		flex-shrink: 0;
		fill: white;
	}

	.ant-layout-header {
		padding: 0 24px;
	}

	.main-layout__sider {
		background: transparent;
		display: none;

		@media screen and (min-width: 560px) {
			display: block;
		}

		.ant-menu {
			background: transparent;
			border-right: none;
		}

		.ant-menu-item {
			border-radius: 0 30px 30px 0;

			&:after {
				display: none;
			}
		}
	}

	.main-layout__content {
		min-height: 280px;
		border-radius: @border-radius-base;
		background: @app-background-content;
	}

	.avatar-dropdown {
		height: initial;
		padding: 6px 8px;

		&:hover {
			background: rgba(255, 255, 255, 0.1)
		}
	}
}


.main-layout__drawer {
	display: block;

	@media screen and (min-width: 560px) {
		display: none;
	}

	.ant-drawer-body {
		padding: 0;
	}
}