/* Warning: Component in-dependent of theme & Ant Design */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	background: #edeff1;
	justify-content: center;
	align-items: center;
	z-index: 2000;
	opacity: 0;
	visibility: visible;
	transition: opacity 0.3s ease;

	&.preloader--entering, &.preloader--entered {
		opacity: 1;
	}

	&.preloader--exited {
		visibility: hidden;
	}

	.preloader__spinner {
		color: #000;
	}

	&.preloader--dark {
		background: #1c2025;

		.preloader__spinner {
			color: #fff;
		}
	}
}
